# Nombre: Vicente Soto
# Curso: Data Analytics - Generación 106 (Desafío Latam)

## Desafío - Tipos y Estructuras de Datos (Parte II)

In [2]:
# Importando pandas

import pandas as pd

# 1) Creando dataframe con Archivo astronautas csv

df = pd.read_csv("resumen_resultados_astronautas.csv")
df.head()

# 2) Creando columna IMC

# Cálculo correcto del IMC
df["IMC"] = df["peso"] / ((df["altura"] / 100) ** 2)
df.head()

# 3) Creando columna Promedio Evaluaciones

eval_cols = ["evaluacion_fisica", "evaluacion_psicologica", "evaluacion_adaptativa", "evaluacion_medica"]
df["promedio_evaluaciones"] = df[eval_cols].mean(axis=1)
df.head()

# 4) Filtrando IMC dentro de limites entregados

df_filtrado = df[(df["IMC"] >= 18.5) & (df["IMC"] <= 24.9)] 

# 5) Filtrando por promedio de evaluaciones >87

df_filtrado = df_filtrado[df_filtrado["promedio_evaluaciones"] >= 87]

# 6) Reiniciando el indice

df_filtrado = df_filtrado.reset_index(drop=True)


# 7) Modificando el valor de la columna "califica", para que diga "Si"

df_filtrado["califica"] = "Sí"


# 8) Exportando resultados a csv
df_filtrado.to_csv("astronautas_calificados.csv", index=False)

In [3]:
df = pd.read_csv("resumen_resultados_astronautas.csv")
df.head()

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
0,Alana Morillo,32,75,180,93,88,78,89,6,Si
1,Fátima Tafalla,27,68,167,82,95,81,87,4,Si
2,Sofía Puig,29,80,185,85,80,90,91,3,Si
3,Valentina Tasis,30,65,175,90,91,85,92,2,No
4,Regina Cicerón,31,76,183,89,87,83,90,7,Si